<!DOCTYPE html>
<html>
  <head>
    <title>Disarray</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <script type="text/javascript">
      window.splashURL = "<%= image_url('splash_v2.png') %>";
      window.splashFooterURL = "<%= image_url('splash_footer.png') %>";
      window.logoIconURL = "<%= image_url('icon_v2.png') %>";
      window.dkIconURL = "<%= image_url('dk_icon.png') %>"
      window.logoURL = "<%= image_url('logo_solo.png') %>";
      window.qrURL = "<%= image_url('qr.png') %>";
      window.scURL = "<%= image_url('server_create.png') %>"
      window.sjURL = "<%= image_url('server_join.png') %>"
      window.user1URL = "<%= image_url('user_1.png') %>"
      window.user2URL = "<%= image_url('user_2.png') %>"
      window.user3URL = "<%= image_url('user_3.png') %>"
      window.user4URL = "<%= image_url('user_4.png') %>"
    </script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
