<!DOCTYPE html>
<html>
  <head>
    <title>Disarray</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <script type="text/javascript">
      window.splashURL = "<%= image_url('splash_crop.png') %>";
      window.logoIconURL = "<%= image_url('icon_solo.png') %>";
      window.logoURL = "<%= image_url('logo_solo.png') %>";
      window.qrURL = "<%= image_url('qr.png') %>";
    </script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
